name: Runs on pull request on develop branch

on:
  pull_request:
    branches:
      - develop

jobs:
  call:
    uses: igdevx/ShopouilleBackend/.github/workflows/build.yml@main
    with:
      artifact_name: ${{ github.base_ref }}
