name: Runs on push on main branch

on:
  push:
    branches:
      - main

jobs:
  call:
    uses: igdevx/ShopouilleBackend/.github/workflows/publish.yml@main
    secrets: inherit
    with:
      dockerfile_path: src/main/docker/Dockerfile.jvm
